#Desktop client
desktop/temp/
desktop/vcs/
desktop/target/
desktop/data/
desktop/log.txt
desktop/easter.exe
desktop/pdf/
desktop/*.zip
desktop/out/
desktop/settings.json
#Web server
web/data/tokens.json