#Desktop client
desktop/scripts/node_modules/
desktop/temp/
desktop/target/
desktop/log.txt
desktop/easter.exe
desktop/pdf/
desktop/*.zip
desktop/out/
desktop/settings.json
#Web server
web/tokens.json