.navbar {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
}

.navbar-button {
	background-color: #059E24;
	border: none;
	color: white;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	border-radius: 12px;
	margin: auto;
	width: 100%;
}

.navbar-button:hover {
	background-color: #78C091;
}
