body {
    background-image: url("/resources/assets/background.png");
    -webkit-background-size: 300%, 300%;
    -moz-background-size: 300%, 300%;
    -o-background-size: 300%, 300%;
     background-size: 300%, 300%;
     margin-top: 5px;
     background-position: center center;
     background-size: 300%, 300%;
     background-repeat: no-repeat;
     text-align: center;
     height: 100%;

}