:root {
	--font-size: 16px;
	--chords-margin: -0.1em -0.5em -2em;
    --chords-padding: 0.1em 0.5em 0.15em;
	--line-margin-top: -65px;
	--verse-margin-top: -50px;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 0.8em;
	position: static;
	overflow: hidden;
}

a,
a:active,
a:visited {
    	color: #43d911;
    	text-decoration: none;
}

a:hover {
    	color: #0ecfc8;
    	text-decoration: underline;
}

/*for small screens (mobile)*/
@media only screen and (max-width: 40em) {
    h1 {
        font-size: 1.8em;
    
    }
}

@page {
	size: a4 landscape;
}

.navbar a {
    	margin: auto;
}

div.song > img {
    	max-width: 100%;
    	height: 70%;
	height: 210mm;
    	width: 148.5mm;
    	margin: auto;
}

.songlist-wrapper {
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	/*border: 1px solid brick;*/
}

ul {
	text-align: left;
}

.songlist-column {
	text-align: center;
	display: table-cell;
	overflow: visible;
	min-width: 50%;
	/*border: 1px solid cyan;*/
}

.songlist-formatting {
	display: block;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
    font-family: Roboto Mono,Courier New,monospace;
    line-height: 1em;
    font-size: 15px;
	margin: auto;
	/*border: 1px solid purple;*/
}


.song-title {
	font-size: 32px; /* h1 default */
	display: block;
}

.song-author {
	text-align: right;
	padding: 0;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: -10px;
	color: gray;
	z-index: 1;
	font-size: 16px; /* h4 default */
	display: block;
	/*border: 1px solid orange;*/
}

.songbook-page {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.song-text-formatting {
	font-family: "Roboto Mono", "Courier New", monospace;
	display: block;
	line-height: 1.4em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	min-width: 50%;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	text-align: center;
	font-size: var(--font-size);
	/*border: 1px solid grey;*/
}

.song-text-wrapper {
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
	/*border: 1px solid red;*/
}


.song-text-column {
	display: table-cell;
	min-width: 50%;
	/*border: 1px solid green;*/
}

.song {
	text-align: center;
	vertical-align: top;
	display: table-cell;
	min-width: 50%;
	/*border: 1px solid black;*/
}

.verse {
	display: block;
	position: relative;
	margin-top: var(--verse-margin-top);
}

.line {
	overflow: hidden;
	margin: auto;
	margin-top: var(--line-margin-top);
	text-align: left;
	display: block;
	color: #212121;
	padding: 0;
	position: relative;
	
}

.lyrics {
	position: relative;
	display: block;
	/*border: 1px solid aquamarine;*/
}

.chords {
	display: block;
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
	position: relative;
	text-align: left;
	margin: var(--chords-margin);
	padding: var(--chords-padding);
	/*border: 1px solid pink;*/
}

.font-size-9-px {
	--font-size: 9px;
	--chords-margin: -0.1em -0.5em -2em;
    --chords-padding: 0.1em 0.5em 0.1em;
	--line-margin-top: -40px;
	--verse-margin-top: -30px;
}

.font-size-10-px {
	--font-size: 10px;
	--chords-margin: -0.1em -0.5em -2em;
    --chords-padding: 0.1em 0.5em 0.25em;
	--line-margin-top: -45px;
	--verse-margin-top: -35px;
}

.font-size-11-px {
	--font-size: 11px;
	--chords-margin: -0.1em -0.5em -2em;
    --chords-padding: 0.1em 0.5em 0.25em;
	--line-margin-top: -50px;
	--verse-margin-top: -40px;
}

.font-size-12-px {
	--font-size: 12px;
	--chords-margin: -0.1em -0.5em -2em;
    --chords-padding: 0.1em 0.5em 0.25em;
	--line-margin-top: -50px;
	--verse-margin-top: -40px;
}

.font-size-13-px {
	--font-size: 13px;
	--chords-margin: -0.1em -0.5em -2em;
   	--chords-padding: 0.1em 0.5em 0.25em;
	--line-margin-top: -60px;
	--verse-margin-top: -45px;
}

.font-size-14-px {
	--font-size: 14px;
	--chords-margin: -0.1em -0.5em -2em;
    --chords-padding: 0.1em 0.5em 0.25em;
	--line-margin-top: -65px;
	--verse-margin-top: -50px;
}

.font-size-15-px {
	--font-size: 15px;
	--chords-margin: -0.1em -0.5em -2.05em;
    --chords-padding: 0.1em 0.5em 0.2em;
	--line-margin-top: -70px;
	--verse-margin-top: -50px;
}



/* Legacy classes to use when CSS variables are not an option */
/* You will want to use find + replace all */

/** to replace the .line class */

.line-9-px {
	overflow: hidden;
	margin: auto;
	margin-top: -40px;
	text-align: left;
	display: block;
	color: #212121;
	padding: 0;
	position: relative;
	/*border: 1px solid blue;*/
}

.line-10-px {
	overflow: hidden;
	margin: auto;
	margin-top: -45px;
	text-align: left;
	display: block;
	color: #212121;
	padding: 0;
	position: relative;
	/*border: 1px solid blue;*/
}

.line-11-px {
	overflow: hidden;
	margin: auto;
	margin-top: -50px;
	text-align: left;
	display: block;
	color: #212121;
	padding: 0;
	position: relative;
	/*border: 1px solid blue;*/
}

.line-12-px {
	overflow: hidden;
	margin: auto;
	margin-top: -50px;
	text-align: left;
	display: block;
	color: #212121;
	padding: 0;
	position: relative;
	/*border: 1px solid blue;*/
}

.line-13-px {
	overflow: hidden;
	margin: auto;
	margin-top: -60px;;
	text-align: left;
	display: block;
	color: #212121;
	padding: 0;
	position: relative;
	/*border: 1px solid blue;*/
}

.line-14-px {
	overflow: hidden;
	margin: auto;
	margin-top: -65px;
	text-align: left;
	display: block;
	color: #212121;
	padding: 0;
	position: relative;
	/*border: 1px solid blue;*/
}

.line-15-px {
	overflow: hidden;
	margin: auto;
	margin-top: -70px;
	text-align: left;
	display: block;
	color: #212121;
	padding: 0;
	position: relative;
	/*border: 1px solid blue;*/
}

/** to replace the .verse class */

.verse-9-px {
	display: block;
	position: absolute;
	margin-top: -30px;
}

.verse-10-px {
	display: block;
	position: absolute;
	margin-top: -35px;
}

.verse-11-px {
	display: block;
	position: absolute;
	margin-top: -40px;
}

.verse-12-px {
	display: block;
	position: absolute;
	margin-top: -40px;
}

.verse-13-px  {
	display: block;
	position: absolute;
	margin-top: -45px;);
}

.verse-14-px  {
	display: block;
	position: absolute;
	margin-top: -50px;;
}

.verse-15-px  {
	display: block;
	position: absolute;
	margin-top: -50px;;
}

/* to replace the .chords class */

.chords-9-px {
	display: block;
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
	position: relative;
	text-align: left;
	margin: -0.1em -0.5em -2em;
    padding: 0.1em 0.5em 0.1em;
}

.chords-10-px {
	display: block;
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
	position: relative;
	text-align: left;
	margin: -0.1em -0.5em -2em;
    padding: 0.1em 0.5em 0.25em;
}

.chords-11-px {
	display: block;
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
	position: relative;
	text-align: left;
	margin: -0.1em -0.5em -2em;
    padding: 0.1em 0.5em 0.25em;
}

.chords-12-px {
	display: block;
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
	position: relative;
	text-align: left;
	margin: -0.1em -0.5em -2em;
    padding: 0.1em 0.5em 0.25em;
}

.chords-13-px {
	display: block;
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
	position: relative;
	text-align: left;
	margin: -0.1em -0.5em -2em;
    padding: 0.1em 0.5em 0.25em;
}

.chords-14-px {
	display: block;
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
	position: relative;
	text-align: left;
	margin: -0.1em -0.5em -2em;
    padding: 0.1em 0.5em 0.25em;
}

.chords-15-px {
	display: block;
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
	position: relative;
	text-align: left;
	margin: -0.1em -0.5em -2.05em;
    padding: 0.1em 0.5em 0.2em;
}

/* to replace the .song-text-formatting class */

.song-text-formatting-9-px {
	font-family: "Roboto Mono", "Courier New", monospace;
	display: block;
	line-height: 1.4em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	min-width: 50%;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	text-align: center;
	font-size: 9px;
}

.song-text-formatting-10-px {
	font-family: "Roboto Mono", "Courier New", monospace;
	display: block;
	line-height: 1.4em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	min-width: 50%;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	text-align: center;
	font-size: 10px;
}

.song-text-formatting-11-px {
	font-family: "Roboto Mono", "Courier New", monospace;
	display: block;
	line-height: 1.4em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	min-width: 50%;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	text-align: center;
	font-size: 11px;
}

.song-text-formatting-12-px {
	font-family: "Roboto Mono", "Courier New", monospace;
	display: block;
	line-height: 1.4em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	min-width: 50%;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	text-align: center;
	font-size: 12px;
}

.song-text-formatting-13-px {
	font-family: "Roboto Mono", "Courier New", monospace;
	display: block;
	line-height: 1.4em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	min-width: 50%;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	text-align: center;
	font-size: 13px;
}

.song-text-formatting-14-px {
	font-family: "Roboto Mono", "Courier New", monospace;
	display: block;
	line-height: 1.4em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	min-width: 50%;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	text-align: center;
	font-size: 14px;
}

.song-text-formatting-15-px {
	font-family: "Roboto Mono", "Courier New", monospace;
	display: block;
	line-height: 1.4em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	min-width: 50%;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	text-align: center;
	font-size: 15px;
}