html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	line-height: 0.8em;
	position: static;
	overflow: hidden;
}

table {
    width: 100%;
	height: 100%;
    table-layout: fixed;
}

td {
	margin-top: 0;
	vertical-align: top
}

/*
p, h1 {
    margin-left: 10px;
}*/

img {
    max-width: 100%;
    height: 70%;
	height: 210mm;
    width: 148.5mm;
    margin: auto;
}

ul {
	text-align: left;
}

pre {
	display: block;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

a,
a:active,
a:visited {
    color: #43d911;
    text-decoration: none;
}

a:hover {
    color: #0ecfc8;
    text-decoration: underline;
}

/*for small screens (mobile)*/
@media only screen and (max-width: 40em) {
    h1 {
        font-size: 1.8em;
    
    }
}

@page {
	size: a4 landscape;
}

.navbar a {
    margin: auto;
}

/*UNTESTED*/
.image-wrapper {
    max-height: 70%;
    margin: auto;
}

.songlist-wrapper {
    text-align: center;
}

.songlist-wrapper::after {
	content: "";
	clear: both;
	display: table;
}
    
.songlist-column-wrapper {
    position: relative;
    font-family: Roboto Mono,Courier New,monospace;
    line-height: 1.4em;
    overflow: visible;
    font-size: 15px;
	margin: auto;
	margin-top: 0;
	box-sizing: border-box;
	float: left;
}
	
    
.songlist-title-wrapper {
	display: block;
    text-align: center;
	margin: auto;
}

.songbook-view {
	top: 0;
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.songbook-view::after {
	content: "";
	clear: both;
	display: table;
}


/*/UNTESTED*/

.song {
	margin: 0;
	top: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

.song-text-wrapper {
	text-align: center;
	margin: 0;
	/*margin-top: -20px;*/
	padding: 0;
}

.song-title {
	padding: 0;
	margin-bottom: 0;
}

.song-author {
	text-align: right;
	padding: 0;
	margin: 0;
	margin-right: 10%;
	color: gray;
	z-index: 1;
}

.line {
	display: block;
	width: 100%;
	color: #212121;
	padding: 0;
	margin-top: -45px;
	text-align: left;
}

.chords {
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
    margin: -0.1em -0.5em -0.15em;
    padding: 0.1em 0.5em 0.15em;
    position: relative;
	text-align: left;
}

.chords-long {
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
    margin: -0.1em -0.5em -0.15em;
    padding: 0.15em 0.5em 0.15em;
    position: relative;
	text-align: left;
}

.chords-long-plus-one {
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
    margin: -0.15em -0.5em -0.15em;
    padding: 0.15em 0.5em 0.15em;
    position: relative;
	text-align: left;
}

.chords-slaboch {
	border-radius: 2px;
    cursor: default;
    font-weight: 700;
    margin: -0.1em -0.5em -0.15em;
    padding: 0.2em 0.5em 0.15em;
    position: relative;
	text-align: left;
}

.song-text {
	font-family: "Roboto Mono", "Courier New", monospace;
    line-height: 1.4em;
	text-align: center;
	margin: auto;
	padding: 0;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	border: none;
}

.song-text-long {
	font-family: "Roboto Mono", "Courier New", monospace;
    line-height: 1.4em;
	text-align: center;
	margin: auto;
	padding: 0;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	border: none;
	font-size: 15px;
}

.song-text-long-plus-one {
	font-family: "Roboto Mono", "Courier New", monospace;
    line-height: 1.4em;
	text-align: center;
	margin: auto;
	padding: 0;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	border: none;
	font-size: 14px;
}

.song-text-slaboch {
	font-family: "Roboto Mono", "Courier New", monospace;
    line-height: 1.4em;
	text-align: center;
	margin: auto;
	padding: 0;
	position: relative;
	width: fit-content;
	block-size: fit-content;
	overflow: visible;
	z-index: 0;
	border: none;
	font-size: 11.5px;
}

.little-smaller-br {
	margin-top: -50px;
}

.smaller-br {
	margin-top: -55px;
}

.small-br {
	margin-top: -70px;
}

.very-small-br {
	margin-top: -80px;
}

.ultra-small-br {
	margin-top: -100px;
}

.default-br {
	margin-top: 0px;
}

.little-bigger-br {
	margin-top: 5px;
}

.bigger-br {
	margin-top: 15px;
}

.big-br {
	margin-top: 30px;
}

.very-big-br {
	margin-top: 50px;
}

.ultra-big-br {
	margin-top: 70px;
}
