<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1"></meta>
    <link rel="stylesheet" href="style.css"></link>
	<title>Zpěvník Hrabošů</title>
</head>
<body>
<div class="songbook-view">
<div class="song1">
<!-- here-->
<div class="song">
<h1 class="song-title">1. Signální</h1>
<h4 class="song-author">Chinaski</h4>
<div class="song-text-wrapper short-song">
<pre class="song-text">

<span class="line bigger-br">
<span class="chords">   Emi   G           C          Emi</span>
<span class="lyrics">1. Až si zejtra ráno řeknu zase jednou provždy dost,</span>
</span>
<span class="line">
<span class="chords">   G            C          Emi</span>
<span class="lyrics">   právem se mi budeš tiše smát.</span>
</span>
<span class="line">
<span class="lyrics">   Jak omluvit si svoji slabost, nenávist a zlost,</span>
</span>
<span class="line">
<span class="lyrics">   když za všechno si můžu vlastně sám.</span>
</span>
<br></br>
<span class="line very-small-br">
<span class="chords">      Ami                   C</span>
<span class="lyrics">R: Za spoustu dní, možná za spoustu let, </span>
</span>
<span class="line">
<span class="chords">            G                D</span>
<span class="lyrics">   až se mi rozední, budu ti vyprávět,</span>
</span>
<span class="line">
<span class="lyrics">   na první signální, jak jsem obletěl svět,</span>
</span>
<span class="line">
<span class="lyrics">   jak tě to omámí a nepustí zpět.</span>
</span>
<span class="line">
<span class="chords">              F        B         Dmi</span>
<span class="lyrics">   Jaký si to uděláš - takový to máš,</span>
</span>
<span class="line">
<span class="lyrics">   Jaký si to uděláš - takový to máš,</span>
</span>
<br></br>
<span class="line  small-br">
<span class="lyrics">2. Až se dneska večer budu tvářit zas jak Karel Gott,</span>
</span>
<span class="line">
<span class="lyrics">   budu zpívat vampam - tydapam.</span>
</span>
<span class="line">
<span class="lyrics">   Všechna sláva, polní tráva, ale peníz přijde vhod,</span>
</span>
<span class="line">
<span class="lyrics">   jak jsem si to udělal, tak to mám.</span>
</span>
<br></br>
<span class="line  small-br">
<span class="lyrics">R: (2x)</span>
</span>
<br></br>
<span class="line  small-br">
<span class="chords">   Ami C G D</span>
<span class="lyrics">   Na na na naaa na na</span>
</span>
<br></br>
<span class="line  small-br">
<span class="chords">              F        B         Dmi</span>
<span class="lyrics">   Jaký si to uděláš - takový to máš,</span>
</span>
<span class="line">
<span class="lyrics">   Jaký si to uděláš - takový to máš,</span>
</span>
</div>
<!--/here-->
</div>
<div class="song2">
<!--here-->

<div class="song">
<h1 class="song-title">Bonsoir, mademoiselle Paris</h1>
<h4 class="song-author">Olympic</h4>
<div class="song-text-wrapper short-song">
<pre class="song-text">

<span class="line bigger-br">
<span class="chords">   Ami E7            Ami  </span>
<span class="lyrics">1. Mám v kapse jeden frank,</span>
</span>
<span class="line">
<span class="chords">        G7           C           E7</span>
<span class="lyrics">   jsem nejbohatší z bank nad Seinou,</span>
</span>
<span class="line">
<span class="chords">   Ami E7           Ami   </span>
<span class="lyrics">   mám víc než krupiér</span>
</span>
<span class="line">
<span class="chords">     G7          C          E7</span>
<span class="lyrics">   a stíny Sacre-Coeur nade mnou.</span>
</span>
<br></br>
<span class="line  small-br">
<span class="chords">   F        G    C     Dmi      E7   Ami</span>
<span class="lyrics">R: Láska je úděl tvůj, pánbůh tě opatruj,</span>
</span>
<span class="line">
<span class="chords">        F          G       Ami</span>
<span class="lyrics">   bonsoir, mademoiselle Paris,</span>
</span>
<span class="line">
<span class="chords">        F          G       Ami</span>
<span class="lyrics">   bonsoir, mademoiselle Paris,</span>
</span>
<br></br>
<span class="line  small-br">
<span class="lyrics">2. Znám bulvár Saint Michelle,</span>
</span>
<span class="line">
<span class="lyrics">   tam jsem včera šel s Marie-Claire,</span>
</span>
<span class="line">
<span class="lyrics">   vím, jak zní z úst krásnejch žen</span>
</span>
<span class="line">
<span class="lyrics">   slůvka "car je t'aime, oh, mon cher".</span>
</span>
<br></br>
<span class="line  small-br">
<span class="lyrics">R:</span>
</span>
<br></br>
<span class="line  small-br">
<span class="lyrics">3. La - la - la ...</span>
</span>
</pre>

</div>
</div>
<!--/here-->
</div>
</div>
</body>
</html>