<div class="song">
<div class="navbar">
    <h1>Seznam písní</h1>

</div>
<div class="wrapper">

<!--replace "unorderedlist"-->
    
</div>
</div>
<style>
	ul {
		text-align: left;
	}
	
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    
    .divvy {
        position: relative;
        font-family: Roboto Mono,Courier New,monospace;
        line-height: 1.4em;
        overflow: visible;
        font-size: 15px;
		margin: auto;
		margin-top: 0;
    }
	
    
    .navbar {
		display: block;
        text-align: center;
		margin: auto;
    }
</style>